$baseFontSize: 16px;
$containerWidth: 1100px;
$yellow: #FEDB3F;
$lightgrey: #F8FAF9;
$grey: #666;
$darkgrey: #1A1B1E;
$white: white;
$black: black;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;


@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }

}

.section {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle__main {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;

    @include phones{
        font-size: 2.5rem;
    }
}


.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 25px;

}

.benefits{
    display: flex;
    margin-top: 5rem;

    @include phones{
        flex-direction: column;
        padding: 0;
        margin: 2rem auto 0;
    }

}

.benefits__content {
    flex: 1;
    padding: 0 3%;

    &:before {
        content:url(../../images/combined_shape.png);
        position: absolute;
        top: 280px;
        transform: translate(200%);
    @include tablets {
        display: none;
    }
    }

    
    &:first-child {
        padding-left: 0;
        @include phones{
            padding-left: 3%;
        }
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none
        }
    }

    @include phones{
        display: flex;
        
    }
}


.benefit {
    text-align: center;

}

.benefit__image--wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position:relative;
    background: grey;
    border-radius: 50%;
    overflow: hidden;

}

.benefit__icon {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20%;
    left:20%;
    transform:translate (-50%, -50%)
}



.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.subtitle__sub {
    margin-bottom: 0;
    text-align: center;
    padding: 0 30%;

    @include phones{
        padding: 0 5%;
    }

}



.benefits__cards {
    display: flex;
    justify-content: space-around;
    min-width: 71.4286rem;
    padding:0;

}

.benefits__content-image {
    width: 8.8571rem;
    height: 8.8571rem;
    background: $darkgrey;
    padding: 1.7857rem;
    border-radius: 4.0714rem;

}

.benefits__content-title {
    margin-bottom: 0;
    margin-top: 2.1429rem;
    font-size: 1.7143rem;
    
}

.benefits__content-text {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}

.benefits__content-paragraph {
    text-align: center;
    font-size: 1.0714rem;
    max-width: 20.4286rem;
    max-height: 4.6429rem;
    margin-top: 0.7143rem;

}

.benefit__text{
    @include phones {
        text-align: left;
        padding-left: 1.5rem;
    }
}