
$baseFontSize: 14px;
$containerWidth: 1100px;
$yellow: #FEDB3F;
$lightgrey: #F8FAF9;
$grey: #666;
$darkgrey: #1A1B1E;
$white: white;
$black: black;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;

@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
        
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

.tablets {
@include tablets;
}

.phones {
@include phones;
}


.form {
    display: flex;
    margin-top: 1rem;

    @include tablets{
        padding: 0 13%;
    }

    @include phones {
        padding: 0 2%;
        line-height: 1rem;
    }
}

.section__form {
    background: url("../../images/background__form.png") center center / cover no-repeat;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    

    @include tablets {
        margin-top: 2rem;
        min-height: 69rem;
    }

}

.inner-section__title{
    text-transform: uppercase;
    text-align: center;
    font-size: 3.1429rem;
    color: $white;
    margin-left: 0rem;
    margin-bottom: 0;
    margin-top: 4.2857rem;
}

.form__row {
    display: flex;
    flex-direction: row;
    
    
    @include tablets {
        flex-direction: column;
        align-items: center;
        
    }

    @include phones{
        margin: 0 auto;
        max-width: $phones;
    }
}

.form__title {
    color: $white;
    margin-top: 0rem;
}

.form__container {
    display: flex;
    flex-direction: column;
    margin: 0 ;
}

.form {
    display: flex;
    margin-left: 2rem;
    margin-top: 2.8571rem;

    @include tablets {
        margin: 0;
    }

    @include phones {
        justify-content: flex-start;
    }
}

.form__personal-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 44.7857rem;
    margin-top: 1.0714rem;

    @include tablets{
        align-items: center;
        min-width: 34rem;
    }
}

.form__name-and-phone {
    display: flex;

    
}

.form__name-and-phone:last-child {
    margin-right: 0;
}

.form__name-and-phone:first-child {
    margin-right: 0.5rem;

    @include tablets{
        margin-right: 0;
    }
}

.form__street {
    display: flex;
    
    margin-top: 1.7143rem;
}

.form__title-street {
    width: 34rem;

    @include phones {
        width: 33rem;
    }
}

.form__title-address {
    max-width: 7.1429rem;
    margin-top: 0;
    margin-right: 0;
}

.form__address {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    
}

.form__comments-and-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}


.form__comment {
    margin: 0;
}

.form__input {
    flex:1;
    border-radius: 0.2857rem;
    border: 0.214rem solid transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2857rem;
    color: $darkgrey;
    margin-right: 1rem;
    
    &:placeholder {
        color: $black;
        margin-left: 0.1429rem;
        border: 0.1429rem solid transparent;
    }

    &:focus{
        outline: none;
        border-color: $yellow;
    }
    &:last-child {
        margin-right: 0;

        @include phones{
        margin:0;    
        }
    }
     }

.form__input--textarea {
    min-height: 11rem;
    min-width: 29rem; 
    
    @include tablets{
        max-height: rem;
        min-width: 34rem;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    color: $white;
    margin-left: 0.7143rem;
    margin-top: 2rem;
        
}

.form__block {
    padding-right: 1.3rem;
}

.form__controls-title {
    color: $darkgrey;
    width: 40%;
    font-size: 1.2857rem;
}


.controls__item {
    margin-bottom: 0.7143rem;
    margin-right: 0.7143rem;
    list-style: none;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}


.controls__tag {
    font-size: 1.1429rem;
}

.form__button:last-child{
    margin-right: 0;
}

.radio {
    display: flex;
    margin-left: 0.7143rem;
    cursor: pointer;
    margin-right: 4px;
    user-select: none;

    &:first-child {
        margin-right: 0.7143rem;
    }

&--checkbox {
    .radio__visible {
        border-radius: 0%;

        &:before{
            background: url(../../images/checkmark.svg) center center/cover no-repeat;
        } 
    }
    align-items: center;
}
}

.radio__element {
    display: none;
    
    &:checked ~ .radio__visible {
        &::before {
           display: block; 
        }
    }
}

.radio__visible { 
    display: inline-block;
    width: 1.43rem;
    height: 1.43rem;
    position: relative;
    border-radius: 50%;
    background: $white;
        
        

    &:before {
        content:"";
        width: 1rem;
        height: 1rem;
        background: $yellow;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
    }
}

//--Начать с этого места!На видео 8:45--//


  .checkbox:checked + .radio__visible {
    background: $yellow;
  }

.radio__element:checked::before {
    display: block;
}

.radio__visible {
    display: inline-block;
    width: 1.8571rem;
    height: 1.8571rem;
    border: 0.235rem solid $white; 
    position: relative;
    border-radius: 50%;
    background: $white;

    &:before{
    width: 1rem;
    height: 1rem;
    background: $yellow;
    border-radius: 50%;
    position:absolute;
    display: none;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}

.radio__title{
    margin-left: 0.3571rem;
}

.form__button--reset {
    background-color: transparent;
    text-transform: none;
    color: $white;
    font-weight: 300;
    font-size: 1.2rem;
}

.form__buttons {
    @include tablets{
        margin: 0 auto;
    }
}