$baseFontSize: 14px;
$containerWidth: 1100px;
$yellow: #FEDB3F;
$lightgrey: #F8FAF9;
$grey: #666;
$darkgrey: #1A1B1E;
$white: white;
$black: black;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;

@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
        
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

.tablets {
@include tablets;
}

.phones {
@include phones;
}

.hero {
    background: url(../../images/background.png) center center / cover no-repeat;
    min-height: 46.4rem;
    display: flex;
    flex-direction: column;
    color: $white;
}


.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    }

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 1.25rem 0rem;
    min-height: 5rem;
    width: 100%;
    align-items: center;
    text-align: center;

    @include tablets {
      justify-content: space-between;
      background: #1968B1;
  }
}

.logo {
    margin-left: 1rem;
}

.nav {
    margin: 0px;

    @include tablets {
        display: none;
    }
}    

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.25rem;
    color: $white;
    font-weight: 700;
    flex-wrap: wrap;
    padding: 0;
        
    }

.nav__item {
    margin: 0 0.5625rem;

    &:first-child {
        margin-left: 0;
    }
    
    &:last-child{
        margin-right: 0;
    }
}

.nav__link{
    text-decoration: none;
    color: $white;
    white-space: nowrap;
}

.contacts__phone{
    padding-left: 2.5rem;
    color: $white;
    font-weight: 700;
    font-size: 1.125rem;
    
}

.contacts__number {
    font-size: 20px;
    text-decoration: none;
    color: $white;
    white-space: nowrap;
}

.contacts__number, .header__phone-number {
    @include tablets {
        display: none;
    }
}

.hero__title-section {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: 6.5625rem;
    margin-top: 1.5625rem;
    
    @include tablets{
        width: 100%;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        align-items: center;
        text-align: center;
        
     }
}

.hero__main-title {
    text-transform: uppercase;
    font-size: 2.75rem;
    margin-bottom: 0;

    @include tablets{
        max-width: 47rem;
    }

    @include phones{
        font-size: 2.5rem;
    }
}

.hero__subtitle {
    margin-bottom: 0;
    margin-top: 0.625rem;
}

.hero__icon {
    display: flex;
    margin-left: 6.5625rem;
    margin-top: 7rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    width: 3.2143rem;
    height: 3.2143rem;

    @include tablets{
        display: none;
    }
}


.icon {
    display: flex;
    align-items: center;
    min-width: 10.1429rem;
    min-height: 2.9286rem;
    margin-right: 1.4286rem;
}

.icon__image {
    width: 3.2143rem;
    height: 3.2143rem;
}
