
$baseFontSize: 14px;
$containerWidth: 1100px;
$yellow: #FEDB3F;
$lightgrey: #F8FAF9;
$grey: #666;
$darkgrey: #1A1B1E;
$white: white;
$black: black;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;


@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
        
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

.tablets {
@include tablets;
}

.phones {
@include phones;
}

.destination {
    background: url("../../images/map.png") center center/cover no-repeat;
    
}   

.map {
    min-height: 90vh;
    display: flex;

    @include tablets{
        max-width: $tablets;
        flex-shrink:shrink;
    }
}

.footer__white {
    display: flex;
    justify-content: space-between;

    @include phones{
        flex-direction: column;
        align-items: center;
    }
}

.address {
    display: flex;
    flex-direction: column;
    color: $black;
}

.address__contacts {
    font-size: 20px;
    text-decoration: none;
    color: $black;
}

.socials {
    display: flex;
    
}
.socials__item {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    position: relative;
}

.socials__item:last-child {
    margin-right:0px;
}

.socials__item--vk {
    background: url('css_sprites.svg') -10px -10px;
    overflow: hidden;
    fill: $black;
}

.socials__item--f {
    background: url("../../images/css_sprites.svg"), -50px -10px;
    overflow: hidden;
}

.socials__item--in {
    background:  url("../../images/css_sprites.svg"), -90px -10px;
    overflow: hidden;
}

.socials__item--twitter {
    background: url("../../images/css_sprites.svg"), -130px -10px;
    overflow: hidden;
}
