$baseFontSize: 14px;
$containerWidth: 1100px;
$yellow: #FEDB3F;
$lightgrey: #F8FAF9;
$grey: #666;
$darkgrey: #1A1B1E;
$white: white;
$black: black;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;


.video {
    background: $white;
}

.video__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.video__wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: rem(662px);
    height: rem(391px);
    @include tablets{
        width: rem(594px);
        height: rem(390px);
    }

}

.video__box{
    position: relative;
    width: 100%;
}

.video__player--img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 82px;
    height: 118px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.video__player-img--active {
    opacity: 0;
}

.video__player {
    width: 100%;
    height: 100%;
    display: block;
}

.video__toolbar{
    width: 100%;
    height: 100%;
    background-color: $darkgrey;
    display: flex;
    z-index: 2;
    flex-shrink: 0;
    padding: 0 rem(20px);
}

.duration {
display: flex;


}
.duration__btn-wrap {
    display: flex;
    align-items: center;
    width: 24px;
    flex-shrink: 0;
}

.duration__img {
    height: 0;
    width: 0;
    border: 11px solid transparent;
    border-left-color: $lightgrey;
    border-right-width: 0;
    background: transparent;
    outline: none;
    transition: border 0.3s;

    &.active{
        border: 7px solid $lightgrey;
        height: 20px;
        border-top: 0;
        border-bottom: 0;
        padding: 1px;
    }

}

.duration__length{
    width: 100%;
    height: 4px;
    border-radius: 1%;
    background: linear-gradient (90deg, $yellow 0%, $yellow 0%)
    
}

.sound{
    display: flex;
    align-items: center;
    margin: 0 15px;
    position: relative;
    &:before{
        content:"";
        width: 29px;
        height: 3px;
        background-color: red;
        position: absolute;
        display: block;
        
    }
}